body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  font-family: sans-serif;
}

#header {
	border-style: solid;
	margin-top:2px;
	height:80px;
}

#aside {
	border-style: solid;
	margin-top:2px;
	width:300px;
	height:400px;
	display: inline-block;
}

#seccion {
	border-style: solid;
	margin-top:2px;
	width:1010px;
	height:400px;
	display: inline-block;
}

#footer {
	border-style: solid;
	margin-top:2px;
	width:1010px;
	height:80px;
	display: inline-block;
	margin-left:170px;
	border-radius:10px;
}


h1 {
	font-size:30px; color: #000000;
	margin-top:-60px;
	margin-left:100px;
}

h2 {
	font-size:15px; 
	color: #000000;
	margin-top:20px;
	text-align: center;
}

h3 {
	font-size:15px; 
	color: #000000;
	margin-top:20px;
	text-align:center;
}

