/* latin-ext */
@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-weight: 400;
  src: local('Passion One'), local('PassionOne-Regular'), url(https://fonts.gstatic.com/s/passionone/v6/fY6k21F1QT2c_Oc3HRNDwiYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-weight: 400;
  src: local('Passion One'), local('PassionOne-Regular'), url(https://fonts.gstatic.com/s/passionone/v6/fY6k21F1QT2c_Oc3HRNDwo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-weight: 700;
  src: local('Passion One Bold'), local('PassionOne-Bold'), url(https://fonts.gstatic.com/s/passionone/v6/feOcYDy2R-f3Ysy72PYJ2ujkDdvhIIFj_YMdgqpnSB0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-weight: 700;
  src: local('Passion One Bold'), local('PassionOne-Bold'), url(https://fonts.gstatic.com/s/passionone/v6/feOcYDy2R-f3Ysy72PYJ2olIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v5/IIPDrwV5KNJo5-LaFlLy2fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v5/78wGxsHfFBzG7bRkpfRnCQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: 400;
  src: local('Alfa Slab One'), local('AlfaSlabOne-Regular'), url(https://fonts.gstatic.com/s/alfaslabone/v5/Qx6FPcitRwTC_k88tLPc-TxObtw73-qQgbr7Be51v5c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


body {
	background: #d8e0de; /* Old browsers */
    background: -webkit-linear-gradient(top, #0e0e0e 0%, #4e5c5a 28%, #829d98 56%, #99afab 67%, #aebfbc 84%, #d8e0de 100%);
    background: -o-linear-gradient(top, #0e0e0e 0%, #4e5c5a 28%, #829d98 56%, #99afab 67%, #aebfbc 84%, #d8e0de 100%);
    background: linear-gradient(to bottom, #0e0e0e 0%, #4e5c5a 28%, #829d98 56%, #99afab 67%, #aebfbc 84%, #d8e0de 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	padding-top:20px;
	padding-bottom: 40px;
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.gametitle {
	font-family: 'Alfa Slab One'; cursive;
	font-size: 50px;
	display: inline-block;
	padding-top: 5px;

}

.pull-right {
    margin-top: 27px;
}

p {
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
}

#header {
	font-size:50px;
	margin-left:2px;
}

#aside {
	background-color:#FFFFFF;
	margin-top:12px;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
}

#seccion {
	background-color:#FFFFFF;
	border-style:solid;
	margin-top:12px;
	margin-right:-100px;
	text-align:center;
	height:500px;
	width:766px;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
}

.flecha {
	margin-top: 35px;
}

.well {
	background-color: rgba(221, 221, 221, 0.59);
	border: none;
	font-family: 'Passion One', cursive;
	padding: 5px;
}

#footer {
	font-size:10px;
	height: 90px;
	margin-top: 20px;
	text-align:center;
}

#tituloSeleccion {
	margin-top:10px;
}

#tituloSeleccion h2 {
	font-size: 64px;
	margin-top: 10px;
    margin-bottom: 10px;
}


h1 {
	font-size:3px; 
	color: #000000;
	margin-top:-330px;
}

h4 {
	font-size:19px;
	font-family: 'Oxygen', sans-serif;
}

h5 {
	font-size:19px;
	font-family: 'Oxygen', sans-serif;
}

h6 {
	float:right;
	margin-top:20px;
	margin-right:-90px;
}

#menuLaberintos li {
	background-color:#F2F2F2;
	height:56px;
	margin-top:20px;
	padding:2px;
	border:2px solid#CCCCCC;
	border-color:#000000;
	font-size:16px;
	list-style-type:none;
	}
	
	
.header  {
	font-size:30px;
}

.laberinto1 {
	cursor:pointer;
}

.laberinto2 {
	cursor:pointer;
}

.laberinto3 {
	cursor:pointer;
}

.laberinto4 {
	cursor:pointer;
}

#catImg {
	width:80px;
	height:80px;
	margin-bottom: 10px;
}

#iconUser2 {
	float:right;
	margin-right:170px;
}

#iconUser2  h5{
	float:right;
	font-size:16px;
}

.fade
{
        opacity:0.5;
}
.fade:hover
{
        opacity:1;
}

@-webkit-keyframes swing
{
15%
{
-webkit-transform: translateX(5px);
transform: translateX(5px);
}
30%
{
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}
50%
{
-webkit-transform: translateX(3px);
transform: translateX(3px);
}
65%
{
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
80%
{
-webkit-transform: translateX(2px);
transform: translateX(2px);
}
100%
{
-webkit-transform: translateX(0);
transform: translateX(0);
}
}
@keyframes swing
{
15%
{
-webkit-transform: translateX(5px);
transform: translateX(5px);
}
30%
{
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}
50%
{
-webkit-transform: translateX(3px);
transform: translateX(3px);
}
65%
{
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
80%
{
-webkit-transform: translateX(2px);
transform: translateX(2px);
}
100%
{
-webkit-transform: translateX(0);
transform: translateX(0);
}
}


.swing:hover
{
-webkit-animation: swing 1s ease;
animation: swing 1s ease;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
}


.grow:hover
{
-webkit-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3);
}