.btn-mio-ok,
.btn-mio:active {
	width:120px;
	margin:0px 220px;
}

.btn-mio-si,
.btn-mio:active {
	width:120px;
	display: inline-block;
}

.btn-mio-no,
.btn-mio:active {
	width:120px;
	display: inline-block;
}

.btn-acciones,
.btn-mio:active {
	width:170px;
	margin-top:10px;
}

#contenedorInterno {
	margin-top:30px;
}

#contenedorInterno p img {
	margin-right:10px;
}

#contenedorInternoIzquierdo {
	height:350px;
	float:left;
	margin-left:10px;
	margin-top:45px;
}

#contenedorInternoIzquierdo h3 {
	text-align:left;
}

#contenedorInternoIzquierdo h4 {
	text-align:right;
	margin-top:-44px;
	margin-right:175px;
}

#contenedorInventario h4 {
	text-align:left;
	margin-top:20px;
}

#contenedorImagen {
	text-align:center;
	margin-top:-6px;
}

#contenedorImagen img {
	margin-top:10px;
}

#contenedorInternoDerecho {
	height:210px;
	width:250px;
	float:right;
	margin-top:-6px;
}

#contenedorInventario {
	text-align:center;
	margin-top:44px;
	width:200px;
	height:350px;
}

.btn-mio-jugar {
	float:right;
	margin-top:65px;
	width:120px;
}

.list-group {
	list-style:none;
}

.form-control {
	margin-top:20px;
}

.style-header {
	text-align:center;
	font-size:60px;
}

#selectorInventario {
	height:210px;
}

.well {
	background-color: rgba(221, 221, 221, 0.59);
	border: none;
	font-family: 'Passion One', cursive;
	padding: 5px;
}	
