.btn-mio-ok,
.btn-mio:active {
	width:120px;
	background:#31B404;
	margin:0px 220px;
}

.btn-mio-si,
.btn-mio:active {
	width:120px;
	background:#DF0101;
	display: inline-block;
}

.btn-mio-no,
.btn-mio:active {
	width:120px;
	background:#31B404;
	display: inline-block;
}

#contenedorInterno {
	margin-top:30px;
	text-align:left;
}

#contenedorInterno p img {
	margin-right:10px;

}


.btn-mio-jugar {
	float:right;
	margin-top:65px;
	width:120px;
	background:#31B404;
}

#contenedorModal  h3{
	font-size:30px;
	}

.well {
	background-color: rgba(221, 221, 221, 0.59);
	border: none;
	font-family: 'Passion One', cursive;
	padding: 5px;
}	
