<!DOCTYPE html>
<html lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<html>
   <head>
    <!-- Agrego los estilos para los modales -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="html/css/styleModales.css"> 
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <script src="html/js/jquery-1.12.3.min.js"></script>
    <script src="html/js/bootstrap.min.js"></script>
    <!-- <script src="js/funciones.js"></script> -->
    <!-- Agregamos angularJS-->
    <script src="node_modules/angular/angular.js"></script>
	  <script src="node_modules/angular-resource/angular-resource.js"></script>
    <script src="js/myAppController.js"></script>
    <title>Aca hay gato encerrado</title>
    {{20*3}}
   </head>

   <body class="container" ng-app="laberintoApplication">

  <script type="text/javascript">
    // Acá van las funciones de javascript que voy a usar
  </script>

    <div ng-controller="laberintoController as LaberintoCtrl">
   <!-- Cabecera -->
              <div id="header" class="row">
                <div class="col-md-12 header panel panel-default row">
                  <img id="catImg" src="images/gato-encerrado.jpg">   
                    <span class="gametitle">Acá hay gato encerrado</span>
                  <div id="iconUser2">
					         <img src="images/iconUser2.jpg">
					         <h5>usuario:</h5>
				          </div>
                </div>
              </div>
              <div class="row">
                <aside class="col-md-3 panel panel-default" id="aside">
                <div id="menuLaberintos panel panel-default">
                <ul class="list-group" align="left">
                  <li class="laberinto1 list-group-item row swing" ng-repeat="laberinto in laberintos">
                  <div>
                    <img id="imagenesLab" ng-src="images/{{laberinto.path}}" />
                    <button type="button" class="btn btn-primary btn-lg botonesLaberintos" data-toggle="modal" ng-click="LaberintoCtrl.verDetalle(laberinto)">{{laberinto.nombre}}</button> 
                  </div>
                  </li>
                </ul>  
              </div>
                </aside>

              <section  id="seccion" class="col-md-8 col-md-offset-1 panel panel-default">
              <div id="tituloSeleccion" class="col-md-8 col-md-offset-2 well well-lg">
                <h2>Selecciona un Laberinto</h2>
              </div> 
              <img class="flecha" src="images/flechaSeleccionLaberintos.jpg">
              </section>
              </div>
              <footer id="footer" class="col-md-8 col-md-offset-2 well well-lg">
                <h5>Construcción de Interfaces de Usuarios: 2016</h5>
                <h4>Grupo Nro. 5 - <strong>Alumnos: Schafir Esteban, Gonzalez Octavio, Presa Federico.</strong></h4>
              </footer>

  <!-- MODALES -->

  <!-- Inicio - Acceso Laberinto Modal -->
  <div class="laberintoModal modal" id="accesoLaberintoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
           <div class="modal-header well">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 class="style-header">{{laberintoSeleccionado.nombre}}</h3>
           </div>
           <div id="contenedorInterno" class="modal-body col-md-8 col-md-offset-2 well well-lg">
            <p>
            <img ng-src="images/{{laberintoSeleccionado.path}}"/ align="left">
            Estas seguro que deseas jugar <p>{{laberintoSeleccionado.nombre}}?</p>
            </p>
            <!-- <button onclick="cerrarVentanaGanastaModal()" class="btn btn-mio-jugar">Jugar</button> -->
            <button type="button" class="btn btn-mio-jugar btn-lg btn-success btn-acciones" data-toggle="modal" data-target="#contenedorModal" ng-click="iniciarLaberinto(laberintoSeleccionado.laberintoId)">Jugar</button>
          </div>
          <div class="modal-footer">
          </div>
        </div>
     </div>
  </div>
 <!-- Fin - Acceso Laberinto Modal -->

 <!-- Inicio - Laberinto Jugable Modal -->
 <div id="contenedorModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header well">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="style-header">{{laberintoSeleccionado.nombre}}</h3>
          </div>
         
         <div id="contenedorInterno">
          <br></br>
       
       <div id="contenedorInternoIzquierdo" class="col-md-9  panel panel-default">
          
          <h3>{{habitacionActual.nombre}}</h3>

          <div id="contenedorImagen" class="col-md-6  panel panel-default well well-lg">
            <p>
              <img ng-src="images/{{habitacionActual.path}}" class="imagenesLabJugable"/>
            </p>
          </div> 
          
          <h4>Acciones</h4>
          
          <div id="contenedorInternoDerecho" class="col-md-2  panel panel-default">
            <ul class="list-group" align="center">
              <li>
                <button type="button" class="btn btn-success btn-acciones row" ng-repeat="accion in habitacionActual.acciones" ng-click="realizarAccion(habitacionActual.id, accion.id)">{{accion.nombre}} </button> 
              </li>
            </ul>
          </div>
    </div>

        <!--CONTENEDOR INVENTARIO -->
        <div id="contenedorInventario" class="col-md-2  panel panel-default">
          <div class="form-group">
            <h4>Inventario</h4>
            <select id="selectorInventario" multiple class="form-control">
              <option ng-repeat="item in inventarioActual">{{item.nombre}}</option>
            </select>
          </div>
        <button type="button" class="btn btn-success btn-acciones row">Tirar</button>
        </div>        

         <div class="modal-footer">
        </div>
      </div>
   </div>
  </div>
</div>
 <!-- Fin - Laberinto Jugable Modal -->

   </body>
</html>